<!DOCTYPE html>
<html>
<head>
    <title>Tariff Calculator</title>
    <meta charset="utf-8" />
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css'%}", type="text/css" />
    <link rel='stylesheet' href="{% static 'css/table_style.css'%}", type="text/css" />

    <style>
        .c-navigation {
            font-family: fsjoey,tahoma,sans-serif;
            text-align: center;
            background: #0088ce;
        }
    </style>
</head>
<body> 
    
     <div>
         <a class="navbar-brand" href="/">
            <img src="/static/image/GDLOGO.png" height="30" width="75" style="margin-left : 30px ;margin-top: 30px ;" />
        </a>
     </div>
    
    <div style="padding-top: 20px ;">
        <nav id="main-navigation" class="c-navigation" style="height:47px">
            <div class="container">
            </div>
        </nav>
    </div>


    <br>
    <div>
        <div class="container" >
            {% block content %} 
            {% endblock %}
        </div>
    </div>
</body>

</html>

