{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block content %}


<h4 style="text-align: center;"> Calculation </h4>
<hr>
  <div class="row">
    <!-- <h2>Result:</h2> -->
    <!-- <div class="col-sm-3 rows">
        <div class="col-sm-6">
            <label class="label">AWB:</label>
            <label class="form-control">{{AWB|safe}}</label>
        </div>

        <div class="col-sm-6">
            <label class="label">HAWB:</label>
            <label class="form-control">{{HAWB|safe}}</label>
        </div>

    </div> -->


    <div class="row">
        <div class="col-sm-3">
            <label class="label">Arrival Date:</label>
            <label class="form-control">{{arrival_date|safe}}</label>
        </div>
    
        <div class="col-sm-3">
            <label class="label">Payment Date:</label>
            <label class="form-control">{{payment_date|safe}}</label>
        </div>

        <div class="col-sm-2">
          <label class="label">Category:</label>
          <label class="form-control">{{category|safe}}</label>
      </div>
  
      <div class="col-sm-2">
          <label class="label">Class:</label>
          <label class="form-control">{{cargo_class|safe}}</label>
      </div>
      <div class="col-sm-2">
        <label class="label">Weight:</label>
        <label class="form-control">{{weight|safe}}</label>
      </div>
    </div>

    <!-- <div class="row">
        
    
        <div class="col-sm-6">
            <label class="label">Dwell Time:</label>
            <label class="form-control">{{dwell_time|safe}} Days</label>
        </div>
    
    </div> -->

</div>

<br><br>

<!-- <style>
    table, th, td {
      border:1px solid darkgray;
    }
</style> -->

    
<!-- <h2>Results</h2> -->

<!-- <table>
    
  <tr>
    <td>DO Fee</th>
    <td>{{do|safe}}</td>
  </tr>
  <tr>
    <td>Handling Fee</th>
    <td>{{handling|safe}}</td>
  </tr>

  <tr>
    <td>Deconsole Fee</th>
    <td>{{deconsole|safe}}</td>
  </tr>
  
  <tr>
    <td>Storage Fee</th>
    <td>{{storage|safe}}</td>
  </tr>
  <tfoot>
  <tr>
    <th>Estimated Charge</th>
    <td>{{total|safe}}</td>
  </tr>
</tfoot>
    
</table> -->

  <div style="text-align:-webkit-center">
    <table class="table table-hover table-striped" style="width: 50%;">
        <tbody>
          <!-- <tr>
            <td scope="row">Oversize Fee</th>
            <td>{{oversize|safe}}</td>
          </tr> -->
          <tr>
            <td scope="row">Documentation Fee</th>
            <td>{{doc_charges|safe}}</td>
          </tr>
          <tr>
            <td scope="row">Deconsole Fee</th>
            <td>{{deconsole|safe}}</td>
          </tr>
          <tr>
            <td scope="row">Handling Fee</th>
            <td>{{handling|safe}}</td>
          </tr>
          <tr>
            <td scope="row">Storage Fee</th>
            <td>{{storage|safe}}</td>
          </tr>
          <tfoot class="table-primary">
            <th scope="row">Sum</th>
            <th>{{total|safe}}</td>
          </tfoot>
        </tbody>
    </table>
    <hr>
    <span> Only For HAWB Calculations </span><br>
    <span> Oversize Charges are not included </span><br>
    <span> Estimates are subject to change to the prices in effect at the time of delivery</span><br>
    <span>
      <a class="navbar-brand" href="/">
        Back to Home
      </a>
    </span>
  </div>



{% endblock %}






